<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="formlogin  card shadow-lg p-3 mb-5 bg-white" style="background-image: url('../../../../assets/images/background.png');">
                <div class="myheader text-center pt-4">
                    <h5 class="mytext">connectez_vous</h5>
                </div>
                <div class="card-body">
                    <form *ngIf="!isLoggedIn"
                          name="form"
                          (ngSubmit)="f.form.valid"
                          #f="ngForm"
                          novalidate
                          class="login100-form validate-form">
                        <div class="mb-3">
                            <input class="form-control" type="text" name="username" placeholder="Username"
                                   [(ngModel)]="form.username"
                                   required
                                   #username="ngModel">
                            <span class="focus-form-control"></span>
                            <span class="symbol-form-control">
							<i class="fa fa-user-circle" aria-hidden="true"></i>
						</span>
                            <div
                                    class="alert alert-danger"
                                    role="alert"
                                    *ngIf="username.errors && f.submitted"
                            >
                                Username is required!
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" name="password" placeholder="Password"
                                   [(ngModel)]="form.password"
                                   required
                                   minlength="6"
                                   #password="ngModel">
                            <span class="focus-form-control"></span>
                            <span class="symbol-form-control">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                            <div
                                    class="alert alert-danger"
                                    role="alert"
                                    *ngIf="password.errors && f.submitted"
                            >
                                <div *ngIf="password.errors.required">Password is required</div>
                                <div *ngIf="password.errors.minlength">
                                    Password must be at least 6 characters
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 text-right myposition">
                            <button class="btn1 btn-block bg-try2" (click)="onClick()">Continuer
                            </button>
                        </div>
                        <div class="form-group">
                            <div
                                    class="alert alert-danger"
                                    role="alert"
                                    *ngIf="f.submitted && isLoginFailed"
                            >
                                Login failed: {{ errorMessage }}
                            </div>
                            <div class="alert alert-success" *ngIf="isLoggedIn">
                                Logged in as {{ roles }}.
                            </div>
                        </div>
                        <div class="text-center p-t-136">
                            <a class="mytext" [routerLink]="'/signup'">
                               Créer votre compte
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="alert alert-success" *ngIf="isLoggedIn">
                        Bienvenue  {{ username }}.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
